// Place all the styles related to the helpdesks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featuredbg{
	background: #f7f7f7;
}

.guidebutton{
	background: #EAEAEA;
	border-radius: 2px;
}