<div class="row pinkcontainer content2">
	<div class="large-12 columns text-left padding2v">
		<h1 class="white weight100"><%= @guide.title %></h1>
	</div>
</div>

<div class="row lightcontainer padding2v">
	<div class="large-2 columns"><br>
	</div>
	<div class="large-8 columns content">
		<p>test</p>
	</div>
	<div class="large-2 columns"><br>
	</div>
</div>

<div class="row featuredbg content2">
	<div class="large-12 columns text-center padding2v">
		<h3 class="white weight100">search</h3>
	</div>
</div>